# DuckDB 資料庫路徑
duckdb_file_path=/path/to/your/twstock.duckdb

# Development settings
proj_util_path=${PROJECT_ROOT}/proj_util_pkg
cfg_path=${proj_util_path}/config
report_path=${PROJECT_ROOT}/output
hist_data_path=${PROJECT_ROOT}/data
download_path=${PROJECT_ROOT}/temp
external_data_path=${PROJECT_ROOT}/external_data

# Finlab API token
finlab_api_token = "Your Finlab token"

# Gspread API token
gspread_wb_key = "Your google spread workbook key"
